<div class="container">
  <!-- <app-header (cickMainPage)="showMainPage()"
    (cickPortfolioPage)="showPortfolioPage()"
    (cickContactPage)="showContactsPage()"
    ></app-header> -->
  <div class="header">
    <ul>
        <li (click)="showMainPage()">Главная</li>
        <li (click)="showPortfolioPage()">Портфолио</li>
        <li (click)="showContactsPage()">Контакты</li>
    </ul>
</div>
  <app-main-layout
    [isMainPageVisible]="isMainPageVisible"
    [isContactsPageVisible]="isContactsPageVisible"
    [isPortfolioPageVisible]="isPortfolioPageVisible"
  ></app-main-layout>
  <app-footer></app-footer>
</div>
