<div class="container">
  <app-header
    [isMainPageVisible]="isMainPageVisible"
    [isContactsPageVisible]="isContactsPageVisible"
    [isDogsPageVisible]="isDogsPageVisible"
    (clickMainPage)="showMainPage()"
    (clickDogsPage)="showDogsPage()"
    (clickContactsPage)="showContactsPage()"
  ></app-header>

  <app-main-layout
    [isMainPageVisible]="isMainPageVisible"
    [isContactsPageVisible]="isContactsPageVisible"
    [isDogsPageVisible]="isDogsPageVisible"
  ></app-main-layout>
  <app-footer></app-footer>
</div>
